In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv("Resources/summer.csv")

In [3]:
years = summer['Year'].unique()
years

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004, 2008, 2012], dtype=int64)

In [44]:
countrycodes = pd.read_csv("resources/ioc_codes.csv")

In [39]:
hostcities = pd.read_csv("Resources/olympic_hosts.csv")
hosts_summer = hostcities.loc[hostcities["Type"] == "summergames"]

In [45]:
hosts = []
hosts_years = []
hosts_countries = []
hosts_sample = []
minpos = 0
maxpos = len(years)

for pos in range (minpos, maxpos):
    year = years[pos]
    host = hosts_summer["Country"].loc[hosts_summer["Year"] == year].values[0]
    if year == 1956:
        host = "Australia"
    try:
        code = countrycodes["IOC"].loc[countrycodes["Country"] == host].values[0]
    except IndexError:
        code = ""
    prev1 = pos-1
    prev2 = pos-2
    prev3 = pos-3
    next1 = pos+1
    next2 = pos+2
    next3 = pos+3
    if prev1 >= minpos:
        prev1year = years[prev1]
    else:
        prev1year = 0
    if prev2 >= minpos:
        prev2year = years[prev2]
    else:
        prev2year = 0
    if prev3 >= minpos:
        prev3year = years[prev3]
    else:
        prev3year = 0
    if next1 < maxpos:
        next1year = years[next1]
    else:
        next1year = 0
    if next2 < maxpos:
        next2year = years[next2]
    else:
        next2year = 0
    if next3 < maxpos:
        next3year = years[next3]
    else:
        next3year = 0
#    dictol = {"Year": year,
#           "Host": host,
#           "Country": code,
#           "Prev1year": prev1year,
#           "Prev2year": prev2year,
#           "Prev3year": prev3year,
#           "Next1year": next1year,
#           "Next2year": next2year,
#           "Next3year": next3year}
    hosts_years.append(year)
    hosts_countries.append(code)
    hosts_sample.append(prev3year)
    hosts_years.append(year)
    hosts_countries.append(code)
    hosts_sample.append(prev2year)
    hosts_years.append(year)
    hosts_countries.append(code)
    hosts_sample.append(prev1year)
    hosts_years.append(year)
    hosts_countries.append(code)
    hosts_sample.append(year)
    hosts_years.append(year)
    hosts_countries.append(code)
    hosts_sample.append(next1year)
    hosts_years.append(year)
    hosts_countries.append(code)
    hosts_sample.append(next2year)
    hosts_years.append(year)
    hosts_countries.append(code)
    hosts_sample.append(next3year)

hosts = pd.DataFrame({"Host Year": hosts_years, "Country": hosts_countries, "Year": hosts_sample})
hosts

     Host Year Country  Year
0         1896     GRE     0
1         1896     GRE     0
2         1896     GRE     0
3         1896     GRE  1896
4         1896     GRE  1900
..         ...     ...   ...
184       2012     GBR  2008
185       2012     GBR  2012
186       2012     GBR     0
187       2012     GBR     0
188       2012     GBR     0

[189 rows x 3 columns]

In [46]:
summary_summer = summer.groupby(["Year", "Country"])["Medal"].size().reset_index()

#host_df = summary_summer.loc[summary_summer["Year"] == 0]
#host_df["HostYear"] = 0
#df = []

#for dictol in hosts:
#    country = dictol['Country']
#    df = summary_summer.loc[
#                    (summary_summer["Country"] == country) &
#                    ( (summary_summer["Year"] == dictol["Year"]) |
#                     (summary_summer["Year"] == dictol["Prev1year"]) |
#                     (summary_summer["Year"] == dictol["Prev2year"]) |
#                     (summary_summer["Year"] == dictol["Prev3year"]) |
#                     (summary_summer["Year"] == dictol["Next1year"]) |
#                     (summary_summer["Year"] == dictol["Next2year"]) |
#                     (summary_summer["Year"] == dictol["Next3year"])
#                    ), :]
#    host_df.append(df)

host_medals = pd.merge(hosts, summary_summer, on=["Year", "Country"], how="left")
host_medals = host_medals.dropna()
host_medals

     Host Year Country  Year  Medal
3         1896     GRE  1896   52.0
5         1896     GRE  1904    2.0
6         1896     GRE  1908    3.0
9         1900     FRA  1896   11.0
10        1900     FRA  1900  185.0
..         ...     ...   ...    ...
179       2008     CHN  2012  128.0
182       2012     GBR  2000   55.0
183       2012     GBR  2004   57.0
184       2012     GBR  2008   77.0
185       2012     GBR  2012  126.0

[160 rows x 4 columns]

In [43]:
host_medals.to_csv("host_medals.csv", index=False, header=True)

In [37]:
summary_summer.to_csv("summary_summer.csv", index=False, header=True)

In [18]:
summary_summer

      Year Country  Medal
0     1896     AUS      2
1     1896     AUT      5
2     1896     DEN      6
3     1896     FRA     11
4     1896     GBR      7
...    ...     ...    ...
1152  2012     UGA      1
1153  2012     UKR     25
1154  2012     USA    250
1155  2012     UZB      3
1156  2012     VEN      1

[1157 rows x 3 columns]

,Year,Host,Country,Prev1year,Prev2year,Prev3year,Next1year,Next2year,Next3year
0,1896,Greece,GRC,0,0,0,1900,1904,1908
1,1900,France,FRA,1896,0,0,1904,1908,1912
2,1904,United States of America,USA,1900,1896,0,1908,1912,1920
3,1908,Great Britain,GBR,1904,1900,1896,1912,1920,1924
4,1912,Sweden,SWE,1908,1904,1900,1920,1924,1928
5,1920,Belgium,BEL,1912,1908,1904,1924,1928,1932
6,1924,France,FRA,1920,1912,1908,1928,1932,1936
7,1928,Netherlands,NLD,1924,1920,1912,1932,1936,1948
8,1932,United States of America,USA,1928,1924,1920,1936,1948,1952
9,1936,Germany,GER,1932,1928,1924,1948,1952,1956
10,1948,Great Britain,GBR,1936,1932,1928,1952,1956,1960
11,1952,Finland,FIN,1948,1936,1932,1956,1960,1964
12,1956,"Australia, Sweden",,1952,1948,1936,1960,1964,1968
13,1960,Italy,ITA,1956,1952,1948,1964,1968,1972
14,1964,Japan,JPN,1960,1956,1952,1968,1972,1976
15,1968,Mexico,MEX,1964,1960,1956,1972,1976,1980
16,1972,Germany,GER,1968,1964,1960,1976,1980,1984
17,1976,Canada,CAN,1972,1968,1964,1980,1984,1988
18,1980,USSR,URS,1976,1972,1968,1984,1988,1992
19,1984,United States of America,USA,1980,1976,1972,1988,1992,1996
20,1988,Republic of Korea,PRK,1984,1980,1976,1992,1996,2000
21,1992,Spain,ESP,1988,1984,1980,1996,2000,2004
22,1996,United States of America,USA,1992,1988,1984,2000,2004,2008
23,2000,Australia,AUS,1996,1992,1988,2004,2008,2012
24,2004,Greece,GRC,2000,1996,1992,2008,2012,0
25,2008,People's Republic of China,CHN,2004,2000,1996,2012,0,0
26,2012,Great Britain,GBR,2008,2004,2000,0,0,0

,Year,Host,Country,Prev1year,Prev2year,Prev3year,Next1year,Next2year,Next3year
0,1896,Greece,GRC,0,0,0,1900,1904,1908
1,1900,France,FRA,1896,0,0,1904,1908,1912
2,1904,United States of America,USA,1900,1896,0,1908,1912,1920
3,1908,Great Britain,GBR,1904,1900,1896,1912,1920,1924
4,1912,Sweden,SWE,1908,1904,1900,1920,1924,1928
5,1920,Belgium,BEL,1912,1908,1904,1924,1928,1932
6,1924,France,FRA,1920,1912,1908,1928,1932,1936
7,1928,Netherlands,NLD,1924,1920,1912,1932,1936,1948
8,1932,United States of America,USA,1928,1924,1920,1936,1948,1952
9,1936,Germany,GER,1932,1928,1924,1948,1952,1956
10,1948,Great Britain,GBR,1936,1932,1928,1952,1956,1960
11,1952,Finland,FIN,1948,1936,1932,1956,1960,1964
12,1956,"Australia, Sweden",,1952,1948,1936,1960,1964,1968
13,1960,Italy,ITA,1956,1952,1948,1964,1968,1972
14,1964,Japan,JPN,1960,1956,1952,1968,1972,1976
15,1968,Mexico,MEX,1964,1960,1956,1972,1976,1980
16,1972,Germany,GER,1968,1964,1960,1976,1980,1984
17,1976,Canada,CAN,1972,1968,1964,1980,1984,1988
18,1980,USSR,URS,1976,1972,1968,1984,1988,1992
19,1984,United States of America,USA,1980,1976,1972,1988,1992,1996
20,1988,Republic of Korea,PRK,1984,1980,1976,1992,1996,2000
21,1992,Spain,ESP,1988,1984,1980,1996,2000,2004
22,1996,United States of America,USA,1992,1988,1984,2000,2004,2008
23,2000,Australia,AUS,1996,1992,1988,2004,2008,2012
24,2004,Greece,GRC,2000,1996,1992,2008,2012,0
25,2008,People's Republic of China,CHN,2004,2000,1996,2012,0,0
26,2012,Great Britain,GBR,2008,2004,2000,0,0,0